
@{
    ViewBag.Title = "New Requests";
}

<h2></h2>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a type="button" class="btn btn-primary" href="/newrequests/createuser">Create User</a>
                </div>
                <div class="col-3">
                    <a type="button" class="btn btn-primary" href="/newrequests/deleteuser">Delete User</a>
                </div>
                <div class="col-3">
                    <a type="button" class="btn btn-primary" href="/newrequests/edituser">Edit User</a>
                </div>
                <div class="col-3">
                    <a type="button" class="btn btn-primary" href="/newrequests">Request Admin Rights</a>
                </div>
            </div>
        </div>
    </div>
