<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#!">Requests Master</a>
        <div class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </div>
</nav>
<br/>
<br />
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Made by</th>
            <th>ID</th>
            <th>Created</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
    </tbody>
</table>