
@{
    ViewBag.Title = "New Requests";
}

<h2></h2>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-primary">Create User</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary">Delete User</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary">Edit User</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary">Request Admin Privilages</button>
                </div>
            </div>
        </div>
    </div>
